<div class="footer-form mb-50">

	<form method="post" asp-action="Subscribe" asp-controller="Blog" class="form-group">
		<div class="form-group">
			<input type="email" name="Email" placeholder=" Mail Adresinizi Yazın " class="form-control" required>
		</div>
		<div class="form-icon">
			<button onclick="subscribe()" class="email_icon newsletter-submit button-contactForm" type="submit">
				Abone Ol
			</button>
		</div>

	</form>

</div>